KadrovoeAgentstvo/.vs/KadrovoeAgentstvo/v15/Server/sqlite3/storage.ide-wal
KadrovoeAgentstvo/.vs/KadrovoeAgentstvo/v15/Server/sqlite3/storage.ide-shm
KadrovoeAgentstvo/.vs/KadrovoeAgentstvo/v15/Server/sqlite3/storage.ide
KadrovoeAgentstvo/.vs/KadrovoeAgentstvo/v15/Server/sqlite3/db.lock
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/KadrovoeAgentstvo.pdb
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/KadrovoeAgentstvo.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/obj/Debug/KadrovoeAgentstvo.Tests.pdb
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/obj/Debug/KadrovoeAgentstvo.Tests.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/obj/Debug/KadrovoeAgentstvo.Tests.csprojResolveAssemblyReference.cache
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/KadrovoeAgentstvo.pdb
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/KadrovoeAgentstvo.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/KadrovoeAgentstvo.Tests.pdb
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/KadrovoeAgentstvo.Tests.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/edmxResourcesToEmbed/Models/KadrDB.ssdl
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/edmxResourcesToEmbed/Models/KadrDB.msl
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/edmxResourcesToEmbed/Models/KadrDB.csdl
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/TempPE/Models.KadrDB.cs.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/TempPE/Models.KadrDB.Designer.cs.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/KadrovoeAgentstvo.pdb
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/KadrovoeAgentstvo.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/KadrovoeAgentstvo.csproj.CoreCompileInputs.cache
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/CoreCompileInputs.cache
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/obj/Debug/CoreCompileInputs.cache
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/Microsoft.VisualStudio.QualityTools.UnitTestFramework.resources.dll
KadrovoeAgentstvo/.vs/KadrovoeAgentstvo/v15/.suo
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/KadrovoeAgentstvo.csprojResolveAssemblyReference.cache
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/KadrovoeAgentstvo.csproj.FileListAbsolute.txt
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/KadrovoeAgentstvo.csproj.CopyComplete
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/vbc.rsp
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/vbc.exe.config
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/vbc.exe
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/csi.rsp
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/csi.exe
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/csc.rsp
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/csc.exe.config
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/csc.exe
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/VBCSCompiler.exe.config
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/VBCSCompiler.exe
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/System.Reflection.Metadata.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/System.IO.FileSystem.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/System.IO.FileSystem.Primitives.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/System.Diagnostics.StackTrace.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/System.Collections.Immutable.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/System.AppContext.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/Microsoft.VisualBasic.Core.targets
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/Microsoft.CodeAnalysis.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/Microsoft.CSharp.Core.targets
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/WebGrease.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/System.Web.WebPages.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/System.Web.WebPages.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/System.Web.WebPages.Razor.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/System.Web.WebPages.Razor.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/System.Web.WebPages.Deployment.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/System.Web.WebPages.Deployment.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/System.Web.Razor.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/System.Web.Razor.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/System.Web.Optimization.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/System.Web.Optimization.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/System.Web.Mvc.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/System.Web.Mvc.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/System.Web.Helpers.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/System.Web.Helpers.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Owin.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Newtonsoft.Json.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Newtonsoft.Json.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Web.Infrastructure.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Security.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Security.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Security.Twitter.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Security.Twitter.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Security.OAuth.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Security.OAuth.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Security.Google.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Security.Google.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Security.Facebook.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Security.Facebook.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Security.Cookies.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Security.Cookies.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Host.SystemWeb.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.Owin.Host.SystemWeb.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AspNet.Identity.Owin.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AspNet.Identity.Owin.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AspNet.Identity.EntityFramework.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AspNet.Identity.EntityFramework.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AspNet.Identity.Core.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AspNet.Identity.Core.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.ApplicationInsights.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.ApplicationInsights.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AI.WindowsServer.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AI.WindowsServer.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AI.Web.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AI.Web.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AI.ServerTelemetryChannel.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AI.ServerTelemetryChannel.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AI.PerfCounterCollector.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AI.DependencyCollector.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AI.DependencyCollector.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Microsoft.AI.Agent.Intercept.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/KadrovoeAgentstvo.dll.config
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/EntityFramework.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/EntityFramework.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/EntityFramework.SqlServer.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/EntityFramework.SqlServer.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ApplicationInsights.config
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Antlr3.Runtime.pdb
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/Antlr3.Runtime.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/Microsoft.Owin.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/Microsoft.Owin.Security.MicrosoftAccount.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/Microsoft.Owin.Security.Google.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/Microsoft.Owin.Security.Facebook.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/Microsoft.Owin.Host.SystemWeb.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/Microsoft.AspNet.Identity.Owin.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/Microsoft.AspNet.Identity.EntityFramework.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/Microsoft.AspNet.Identity.Core.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/EntityFramework.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/EntityFramework.SqlServer.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45/ru/Microsoft.Owin.Host.SystemWeb.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.3.0.1/lib/net45/ru/Microsoft.Owin.xml
KadrovoeAgentstvo/packages/Microsoft.Owin.3.0.1/lib/net45/ru/Microsoft.Owin.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.ru.3.2.3/lib/net45/ru/system.web.webpages.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.ru.3.2.3/lib/net45/ru/system.web.webpages.razor.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.ru.3.2.3/lib/net45/ru/system.web.webpages.deployment.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.ru.3.2.3/lib/net45/ru/system.web.helpers.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.ru.3.2.3/lib/net45/ru/System.Web.WebPages.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.ru.3.2.3/lib/net45/ru/System.Web.WebPages.Razor.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.ru.3.2.3/lib/net45/ru/System.Web.WebPages.Deployment.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.ru.3.2.3/lib/net45/ru/System.Web.Helpers.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.ru.3.2.3/Microsoft.AspNet.WebPages.ru.3.2.3.nupkg
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/ru/system.web.webpages.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/ru/system.web.webpages.razor.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/ru/system.web.webpages.deployment.xml
KadrovoeAgentstvo/packages/EntityFramework.6.1.3/lib/net45/ru/EntityFramework.SqlServer.resources.dll
KadrovoeAgentstvo/packages/EntityFramework.6.1.3/lib/net40/ru/EntityFramework.xml
KadrovoeAgentstvo/packages/EntityFramework.6.1.3/lib/net40/ru/EntityFramework.resources.dll
KadrovoeAgentstvo/packages/EntityFramework.6.1.3/lib/net40/ru/EntityFramework.SqlServer.xml
KadrovoeAgentstvo/packages/EntityFramework.6.1.3/lib/net40/ru/EntityFramework.SqlServer.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/System.Web.WebPages.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/System.Web.WebPages.Razor.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/System.Web.WebPages.Deployment.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/System.Web.Razor.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/System.Web.Optimization.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/System.Web.Mvc.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/System.Web.Helpers.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/Microsoft.Owin.Security.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo/bin/ru/Microsoft.Owin.Security.Twitter.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.Mvc.ru.5.2.3/Microsoft.AspNet.Mvc.ru.5.2.3.nupkg
KadrovoeAgentstvo/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/ru/System.Web.Mvc.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/ru/System.Web.Mvc.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.Owin.ru.2.2.1/lib/net45/ru/Microsoft.AspNet.Identity.Owin.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.Owin.ru.2.2.1/lib/net45/ru/Microsoft.AspNet.Identity.Owin.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.Owin.ru.2.2.1/Microsoft.AspNet.Identity.Owin.ru.2.2.1.nupkg
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45/ru/Microsoft.AspNet.Identity.Owin.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45/ru/Microsoft.AspNet.Identity.Owin.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.EntityFramework.ru.2.2.1/lib/net45/ru/Microsoft.AspNet.Identity.EntityFramework.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.EntityFramework.ru.2.2.1/lib/net45/ru/Microsoft.AspNet.Identity.EntityFramework.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.EntityFramework.ru.2.2.1/Microsoft.AspNet.Identity.EntityFramework.ru.2.2.1.nupkg
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/lib/net45/ru/Microsoft.AspNet.Identity.EntityFramework.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/lib/net45/ru/Microsoft.AspNet.Identity.EntityFramework.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.Core.ru.2.2.1/lib/net45/ru/Microsoft.AspNet.Identity.Core.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.Core.ru.2.2.1/lib/net45/ru/Microsoft.AspNet.Identity.Core.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.Core.ru.2.2.1/Microsoft.AspNet.Identity.Core.ru.2.2.1.nupkg
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45/ru/Microsoft.AspNet.Identity.Core.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45/ru/Microsoft.AspNet.Identity.Core.resources.dll
KadrovoeAgentstvo/packages/EntityFramework.ru.6.1.3/lib/net45/ru/EntityFramework.xml
KadrovoeAgentstvo/packages/EntityFramework.ru.6.1.3/lib/net45/ru/EntityFramework.resources.dll
KadrovoeAgentstvo/packages/EntityFramework.ru.6.1.3/lib/net45/ru/EntityFramework.SqlServer.xml
KadrovoeAgentstvo/packages/EntityFramework.ru.6.1.3/lib/net45/ru/EntityFramework.SqlServer.resources.dll
KadrovoeAgentstvo/packages/EntityFramework.ru.6.1.3/lib/net40/ru/EntityFramework.xml
KadrovoeAgentstvo/packages/EntityFramework.ru.6.1.3/lib/net40/ru/EntityFramework.resources.dll
KadrovoeAgentstvo/packages/EntityFramework.ru.6.1.3/lib/net40/ru/EntityFramework.SqlServer.xml
KadrovoeAgentstvo/packages/EntityFramework.ru.6.1.3/lib/net40/ru/EntityFramework.SqlServer.resources.dll
KadrovoeAgentstvo/packages/EntityFramework.ru.6.1.3/EntityFramework.ru.6.1.3.nupkg
KadrovoeAgentstvo/packages/EntityFramework.6.1.3/lib/net45/ru/EntityFramework.xml
KadrovoeAgentstvo/packages/EntityFramework.6.1.3/lib/net45/ru/EntityFramework.resources.dll
KadrovoeAgentstvo/packages/EntityFramework.6.1.3/lib/net45/ru/EntityFramework.SqlServer.xml
KadrovoeAgentstvo/packages/Microsoft.Owin.ru.3.0.1/Microsoft.Owin.ru.3.0.1.nupkg
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.ru.3.0.1/lib/net45/ru/Microsoft.Owin.Security.xml
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.ru.3.0.1/lib/net45/ru/Microsoft.Owin.Security.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.ru.3.0.1/Microsoft.Owin.Security.ru.3.0.1.nupkg
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Twitter.ru.3.0.1/lib/net45/ru/Microsoft.Owin.Security.Twitter.xml
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Twitter.ru.3.0.1/lib/net45/ru/Microsoft.Owin.Security.Twitter.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Twitter.ru.3.0.1/Microsoft.Owin.Security.Twitter.ru.3.0.1.nupkg
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Twitter.3.0.1/lib/net45/ru/Microsoft.Owin.Security.Twitter.xml
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Twitter.3.0.1/lib/net45/ru/Microsoft.Owin.Security.Twitter.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.MicrosoftAccount.ru.3.0.1/lib/net45/ru/Microsoft.Owin.Security.MicrosoftAccount.xml
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.MicrosoftAccount.ru.3.0.1/lib/net45/ru/Microsoft.Owin.Security.MicrosoftAccount.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.MicrosoftAccount.ru.3.0.1/Microsoft.Owin.Security.MicrosoftAccount.ru.3.0.1.nupkg
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/lib/net45/ru/Microsoft.Owin.Security.MicrosoftAccount.xml
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/lib/net45/ru/Microsoft.Owin.Security.MicrosoftAccount.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Google.ru.3.0.1/lib/net45/ru/Microsoft.Owin.Security.Google.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/ru/system.web.helpers.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/ru/System.Web.WebPages.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/ru/System.Web.WebPages.Razor.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/ru/System.Web.WebPages.Deployment.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/ru/System.Web.Helpers.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.Web.Optimization.ru.1.1.3/lib/net40/ru/System.Web.Optimization.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.Web.Optimization.ru.1.1.3/Microsoft.AspNet.Web.Optimization.ru.1.1.3.nupkg
KadrovoeAgentstvo/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/ru/System.Web.Optimization.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.Razor.ru.3.2.3/lib/net45/ru/system.web.razor.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.Razor.ru.3.2.3/lib/net45/ru/System.Web.Razor.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.Razor.ru.3.2.3/Microsoft.AspNet.Razor.ru.3.2.3.nupkg
KadrovoeAgentstvo/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/ru/system.web.razor.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/ru/System.Web.Razor.resources.dll
KadrovoeAgentstvo/packages/Microsoft.AspNet.Mvc.ru.5.2.3/lib/net45/ru/System.Web.Mvc.xml
KadrovoeAgentstvo/packages/Microsoft.AspNet.Mvc.ru.5.2.3/lib/net45/ru/System.Web.Mvc.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.ru.3.0.1/lib/net45/ru/Microsoft.Owin.xml
KadrovoeAgentstvo/packages/Microsoft.Owin.ru.3.0.1/lib/net45/ru/Microsoft.Owin.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Google.ru.3.0.1/lib/net45/ru/Microsoft.Owin.Security.Google.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Google.ru.3.0.1/Microsoft.Owin.Security.Google.ru.3.0.1.nupkg
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Google.3.0.1/lib/net45/ru/Microsoft.Owin.Security.Google.xml
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Google.3.0.1/lib/net45/ru/Microsoft.Owin.Security.Google.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Facebook.ru.3.0.1/lib/net45/ru/Microsoft.Owin.Security.Facebook.xml
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Facebook.ru.3.0.1/lib/net45/ru/Microsoft.Owin.Security.Facebook.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Facebook.ru.3.0.1/Microsoft.Owin.Security.Facebook.ru.3.0.1.nupkg
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Facebook.3.0.1/lib/net45/ru/Microsoft.Owin.Security.Facebook.xml
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.Facebook.3.0.1/lib/net45/ru/Microsoft.Owin.Security.Facebook.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.3.0.1/lib/net45/ru/Microsoft.Owin.Security.xml
KadrovoeAgentstvo/packages/Microsoft.Owin.Security.3.0.1/lib/net45/ru/Microsoft.Owin.Security.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.Host.SystemWeb.ru.3.0.1/lib/net45/ru/Microsoft.Owin.Host.SystemWeb.xml
KadrovoeAgentstvo/packages/Microsoft.Owin.Host.SystemWeb.ru.3.0.1/lib/net45/ru/Microsoft.Owin.Host.SystemWeb.resources.dll
KadrovoeAgentstvo/packages/Microsoft.Owin.Host.SystemWeb.ru.3.0.1/Microsoft.Owin.Host.SystemWeb.ru.3.0.1.nupkg
KadrovoeAgentstvo/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45/ru/Microsoft.Owin.Host.SystemWeb.xml
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/TempPE/Models.KadrDB.Context.cs.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/obj/Debug/KadrovoeAgentstvo.Tests.csproj.FileListAbsolute.txt
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/KadrovoeAgentstvo.dll.config
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/KadrovoeAgentstvo.Tests.dll.config
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/System.Web.WebPages.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/System.Web.WebPages.Razor.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/System.Web.WebPages.Deployment.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/System.Web.Razor.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/System.Web.Optimization.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/System.Web.Mvc.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/System.Web.Helpers.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/Microsoft.Owin.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/Microsoft.Owin.Security.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/Microsoft.Owin.Host.SystemWeb.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/Microsoft.AspNet.Identity.Owin.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/Microsoft.AspNet.Identity.EntityFramework.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/Microsoft.AspNet.Identity.Core.resources.dll
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/bin/Debug/ru/EntityFramework.resources.dll
