KadrovoeAgentstvo/.vs/KadrovoeAgentstvo/v15/Server/sqlite3/storage.ide-wal
KadrovoeAgentstvo/.vs/KadrovoeAgentstvo/v15/Server/sqlite3/storage.ide-shm
KadrovoeAgentstvo/.vs/KadrovoeAgentstvo/v15/Server/sqlite3/storage.ide
KadrovoeAgentstvo/.vs/KadrovoeAgentstvo/v15/Server/sqlite3/db.lock
KadrovoeAgentstvo/KadrovoeAgentstvo/obj/Debug/CoreCompileInputs.cache
KadrovoeAgentstvo/KadrovoeAgentstvo.Tests/obj/Debug/CoreCompileInputs.cache
